<!DOCTYPE html>
<html>
<% include header.ejs %>
<body>
	<script type="text/javascript">
		activeMenuId = "lienhe";
	</script>
	<% include headpanel.ejs %>
	<div class="container">
		<div style="height: 9000px;">
		
		</div>
	</div>
	<% include footer.ejs %>
</body>
</html>
