<footer>
	<div class="main-footer">
		<p class="text-center">
			Trụ sở công ty: Số 10, ngõ 460 Khương Đình, phường Hạ Đình, quận Thanh Xuân, Hà Nội 
		</p>
		
		<p class="text-center">
			Điện thoại: 0989 25 99 37 - Email: nguyenanhtaidl@gmail.com
		</p>
	</div>
	<div class="fix-footer">
		<div class="container-fluid">
			<a href="tel:0989259937">
				<p class = "hotline">Hotline:
					<span class="label label-success">
					 +84 989 259 937
					</span>
				</p>
				
			</a>
		</div>
	</div>
</footer>