<header class="header">
	
	<!-- <span class="glyphicon glyphicon-search"></span>
		CÔNG TY TNHH KỸ THUẬT THƯƠNG MẠI T&As -->
	<div class="menuWrp">
		<div class="container">
			<img class="logoWrp img-circle" src="./image/icon/logo3.png" style="position: absolute;">
			<% include menu.ejs %>
		</div>
	</div>
	<section class="panelWrp container">
	</section>
	
</header>