<div class = "menu" id ="menu">
	<ul>
		<li>
			<a id="trangchu" class ="menuItem" href="/">Trang chủ</a>
		</li>
		<li>
			<a id="gioithieu" class ="menuItem" href="/gioithieu">Giới thiệu</a> 
			<ul>
				<li>
					<a>Giới thiệu công ty</a>
				</li>
				<li>
					<a>Sơ đồ tổ thức</a>
				</li>
				<li>
					<a>Định hướng phát triển</a>
				</li>
			</ul>
		</li>
		<li>
			<a id="tintuc" class ="menuItem" href="/tintuc">Tin tức</a> 
			<ul>
				<li>
					<a>Tin tức công ty</a>
				</li>
				<li>
					<a>Tin tức xây dựng</a>
				</li>
				<li>
					<a>Tin tức kinh tế</a>
				</li>
			</ul>
		</li>
		<li>
			<a id="sanpham" class ="menuItem" href="/sanpham">Sản phẩm</a> 	
			<ul>
				<li>
					<a>Nhà phân phối ống nước PPR Wavin Ecoplastic</a>
				</li>
				<li>
					<a>Nhà phân phối ống nước PPR Wavin Pilsa</a>
				</li>
				<li>
					<a>Nhà phân phối ống nước giảm âm Wavin AS</a>
				</li>
				<li>
					<a>Nhà phân phối van giảm áp RBM</a>
				</li>
				<li>
					<a>Sản xuất vật tư phụ</a>
				</li>
				<li>
					<a>Thi công cơ điện</a>
				</li>
				<li>
					<a>Nhà phân phối dây, cáp điện</a>
				</li>
				<li>
					<a>Nhà phân phối thiết bị điện Panasonic</a>
				</li>
				<li>
					<a>Nhà phân phối thiết bị điện Schnider</a>
				</li>
			</ul>
		</li>
		<li>
			<a id="congtrinh" class ="menuItem" href="/congtrinh">Công trình</a> 
			<ul>
				<li>
					<a>Hình ảnh công trình cung cấp</a>
				</li>
				<li>
					<a>Hình ảnh công trình thi công</a>
				</li>
			</ul>	
		</li>
		<li>
			<a id="tuyendung" class ="menuItem" href="/tuyendung">Tuyển dụng</a> 
		</li>
		<li>
			<a id="lienhe" class ="menuItem" href="/lienhe">Liên hệ</a> 
			<ul>
				<li>
					<a>Bản đồ</a>
				</li>
				<li>
					<a>Góp ý phản hồi</a>
				</li>
				<li>
					<a>Điện thoại</a>
				</li>
			</ul>
		</li>
	</ul>
	<div class="loginWrp" id='loginWrp'>
		
	</div>
</div>
<script>
 if (activeMenuId ) {
	 $('#' + activeMenuId).addClass("crrLink")
 }
 function login() {
 	$.ajax({
		type: "POST",
		url: 'login',
	 	data: {
 			username: $('#username').val(),
 			password: $('#password').val()
 		},
	  	success: function(res){
	  		console.log(res);
	  		checkLogin();
	  	},
	  	dataType: 'json'
	})
 } 

 function logout(){
 	$.get('logout', function(res){
 		checkLogin();
 	})
 }
 
 function checkLogin() {
 	$.get('/checkLogin', function(res){
 		if (res) {
 			$('#loginWrp').html('<span>' + res.username + '</span><span onclick="logout();">Thoát</span>');
 			$('#loginWrp').css({
 				'font-size' : '12 px',
 				'color': '#fff'
 			})
 		} else {
 			var str = '<input placeholder="Tên đăng nhập" type="text" name="username" id="username"/>' +
				'<input placeholder="Mật khẩu"type="text" name="password" id="password"/>' +
				'<button onclick="login()">Đăng nhập</button>' ;
 			$('#loginWrp').html(str)
 		}
 	})
 }
 checkLogin(); 
</script>
