.header{
	background-color: rgb(255, 255, 255);
	min-width: 1170px;
	background-image: url(../image/wallpaper.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
	height: 400px;
}
body {
	/*background-color :#000;*/
 	background-color :rgb(228, 225, 227); 
	font: 12px Arial, Helvetica, sans-serif;
	color: #111;
	min-width: 1300px;
	height: 100%;
	width: 100%;
}

a:HOVER {
	text-decoration:none;
}
div {
	text-wrap: unrestricted;
}
.menuWrp {
	background-color: #428bca;
	position: fixed;
	top: 0px;
	z-index: 1000;
	width: 100%;
	/*border-bottom: #0b7cc2 solid 1px;*/
	height: 38px;
}
.menu{
	/* background-color: #2f333f; */
	margin-left: 50px;
	margin-top: 0px;
	padding:10px 15px 0px 10px;
	min-width: 640px;
}
.main-footer {
	height: 80px;
	background-color: #428bca;
	padding-bottom: 20px;
	padding-top: 10px;
	color: #fff;
	margin-top: 30px;
	width: 100%;
}
.fix-footer{
	height: 25px;
	text-align: right;	
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #428bca;
	color: #fff;
	z-index: 100;
	opacity:0.9;
	padding: 0px 5px 0px 0px;
}
.fix-footer .hotline {
	margin: 5px;
	color: #fff;
}
a.menuItem {
	padding: 11px 5px ;
	color: #fff;
	margin-right: 15px;
	font-size: 13px;
 	/*font-weight: bold; */
}
a.menuItem.crrLink {
	/* background-color: rgb(255, 221, 0); */
	/* color: #428bca; */
	color: #fff; 

	font-weight: bold;
}
a.menuItem:HOVER{
	border-bottom: solid 2px #fff; 
}
button {
	background-color: #222;
	color: #fff;
	border: 0px;
	padding: 5px 15px;
	float: left;
}
button:HOVER {
	background-color: #111;
}

#upload {
	padding-left: 12px;
	font-size: 15px;
	color: rgb(217,66,54);
}
.fakeBtn {
	position: absolute;
	height: 50px;
	width: 105px;
	background-color: #f1f0f1;
	top: 235px;
	z-index: 100;
	font-size: 10px;
	padding-right: 5px;
	color: #222;
}

form, .gallery-wrp {
	background-color: #f1f0f1;
	padding: 20px;
	min-height: 180px;
	min-width: 600px;
	height: auto;	
}
.gallery-wrp{
	width: 1020px;	
}
.gallery-wrp:AFTER{
	clear: both;
	display: block;
	content: ".";
}
div.content_wrp {
	background-color: #f1f0f1;
	/* padding: 20px; */
	min-height: 180px;
	/* min-width: 180px; */
	height: auto;	
	float: left;
	margin: 1px;
}


@keyframes myfirst
{
	0%   {height: 0px; width: 0%;color: #00B7FF;}
	5%   {height: 20x; width: 0%;color: #00B7FF;}
	100%   {height: 20px; width: 100%;color: #00B7FF;}
}

@-webkit-keyframes fblur /* Safari and Chrome */
{
	0%   {height: 0px; width: 0%;color: #00B7FF;}
	5%   {height: 20x; width: 0%;color: #00B7FF;}
	100%   {height: 20px; width: 100%;color: #00B7FF;}
}
@-webkit-keyframes flightRed /* Safari and Chrome */
{
	0%   {height: 0px; width: 0%;color: #e57261;}
	5%   {height: 20x; width: 0%;color: #e57261;}
	100%   {height: 20px; width: 100%;color: #e57261;}
}
@-webkit-keyframes fyellow /* Safari and Chrome */
{
	0%   {height: 0px; width: 0%;color: #ffe51e;}
	5%   {height: 20x; width: 0%;color: #ffe51e;}
	100%   {height: 20px; width: 100%;color: #ffe51e;}
}
@-webkit-keyframes fpink /* Safari and Chrome */
{
	0%   {height: 0px; width: 0%;color: #ff51aa;}
	5%   {height: 20x; width: 0%;color: #ff51aa;}
	100%   {height: 20px; width: 100%;color: #ff51aa;}
}
@-webkit-keyframes fgreen /* Safari and Chrome */
{
	0%   {height: 0px; width: 0%;color: #9dd802;}
	5%   {height: 20x; width: 0%;color: #9dd802;}
	100%   {height: 20px; width: 100%;color: #9dd802;}
}
.pink{
	background-color: #ff51aa;
	-webkit-animation: fpink 2s;
}
.lightRed {
	background-color: #e57261;
	-webkit-animation: flightRed 2s;
}
.blue{
	background-color: #00B7FF;
	-webkit-animation: fblur 2s;
}
.yellow{
	background-color: #ffe51e;
	-webkit-animation: fyellow 2s;
}
.green{
	background-color: #9dd802;
	-webkit-animation: fgreen 2s;
}
ul {
	list-style: none;
}
.menu>ul {
	height: 18px;
}
.menu>ul>li {
	float: left;
	display: inline-block;
}
.menu>ul>li:HOVER>ul {
	display: block;
}
.menu>ul>li>ul {
	position: absolute;
	padding: 0px;
	display: none;
	margin-top: 13px;	
	background-color: #fff;
	opacity: 1;
}
.menu>ul>li>ul>li {
	margin-bottom: 1px;
	padding: 5px 10px;
	background-color: #fff;
}
.menu>ul>li>ul>li:HOVER {
	background-color: #0b7cc2;
}
.menu>ul>li>ul>li>a {
	color: #3C76A8;
}
.menu>ul>li>ul>li>a:HOVER, .menu>ul>li>ul>li:HOVER>a {
	color: #fff;
}
A:link {
	text-decoration: none !important;
}
.logoWrp {
	margin: 3px 2px 2px 0px;
	height: 30px;
	background-color: white;
	border-radius: 25%;
}
.panelWrp {
	/* margin-bottom:10px; */
	margin-top: 20px;
	display: none;
	background-attachment: scroll;
	/*background-color: rgb(255, 255, 255);*/
	background-image: url(../image/panel8.png);
	background-position: left bottom;
/* 	background-position: center bottom; */
	background-repeat: no-repeat;
	background-size: 99em 10.9375em;
/* 	background-size: 45em 10.9375em; */
	padding: 1.125em 0 11.875em;
	position: relative;
	text-align: center;
}
.antoantiendo{
	padding-top:10px;
	padding-bottom: 1px;
}
.label {
	font-size: 11px;
	font-weight: normal;
}
.label-white {
	background-color: #f1f1f1;
	color: black;
}
.slideWrp{
	height: 488px;
	width: 800px;
}
.contentWrp {
	min-width:1300px;
	padding-top: 10px;
	padding-bottom: 60px;
	font-family: Segoe UI, Arial, Helvetica, sans-serif;
	/* background-color:rgb(228, 225, 227); */
	background-color:rgb(223, 223, 223);
/* 	background-color:rgb(224, 61, 170); */
}
.blockWrp{
	background-color: fff;
	padding: 10px;
}
.hotrotructuyen {
	margin-top: 18px;
}
.blocksanphamtrangchu{
	/* min-width: 1170px; */
	/* background-color:rgb(6, 122, 199); */
/* 	background-color:rgb(199, 6, 137); */
	color: white;
	padding-left: 10px;
}
.blocksanphamtrangchu>.container {
	padding:  0px 60px;
}
.sanphamava{
	height: 80px;
	padding: 5px;
	opacity: 0.9;
	border: solid 1px;
	margin: 5px;
	/* box-shadow: 10px 10px 5px #888888; */
	width: 260px;
	float: left;
}
.sanphamava:HOVER{
	opacity: 1;
	box-shadow: 4px 4px 5px #888888;
}
.label-xanhlam {
	background-color: rgb(52, 74, 184);
}
.galerrytrangchu{
	padding-top: 20px;
	height: 640px;
	overflow: hidden;
}
.galerrytrangchuWrp {
	/* padding: 0px 200px; */
/* 	background-color: #000; */
}
.galerrytrangchuWrp .imgRow{
	
}
.galerrytrangchuWrp .imageWrp {
	/* overflow: hidden; */
	float: left;
	border-bottom: solid 1px #fff;
} 
.galerrytrangchuWrp .imageWrp img{
	width: 190px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);	
}
.galerrytrangchuWrp .imageWrp img:HOVER{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);	
}
