<div class ="antoantiendo ">
	<div class = "container">
		<p class="">
			<span class="label label-success">An Toàn</span>
			<span class="label label-success">Tiến độ</span>
			<span class="label label-success">Chất lượng</span>
			<span class="label label-success">Hiệu quả</span>
		</p>
	</div>
	
</div>