<div class="blocksanphamtrangchu">
	<div id='productDescription' class='productDescription'> 

	</div>
	<div class="row">
			<div class="col-xs-12 " >
				<div class="row" >
					<div class="sanphamava label-primary  " id="thi_cong" onclick="clickSanpham('thi_cong');">
						<p>
							<h5 class="text-center">
								Thi công 
							</h5>
							<h4 class="text-center">
								Xây lắp cơ điện
							</h4>
						</p>
					</div>
					<div class="sanphamava label-primary  " id="phan_phoi_wavin" onclick="clickSanpham('phan_phoi_wavin');">
						<p>
							<h5 class="text-center">
								Phân phối 
							</h5>
							<h4 class="text-center">
								Ống Wavin
							</h4>
						</p>
					</div>
					<div class="sanphamava label-primary " id="day_thiet_bi_dien" onclick="clickSanpham('day_thiet_bi_dien');">
						<p>
							<h5 class="text-center">
								Phân phối
							</h5>
							<h4 class="text-center">
								Dây và thiết bị điện
							</h4>
						</p>
					</div>
				</div>

			</div>
	</div>
</div>
<script>
	var productList = {
		'thi_cong': [{
			description: 'Thi công các công trình cơ điện',
			imageUrl: 'image/slide/thicong.jpg'
		}],
		'phan_phoi_wavin': [{
			description: 'Ống cấp nước PPR Wavin Ekoplastik',
			imageUrl: 'image/slide/cap_nuoc_PPR_Wa_vin_Ekoplastik.jpg',
			pdfUrl:'pdf/ekoplastik.pdf'
		},{
			description: 'Ống cấp nước PPR Wavin Pilsa',
			imageUrl: 'image/slide/Cap_nuoc_PPR_Wavin_Pilsa.jpg',
			pdfUrl:'pdf/PilsaPPR.pdf'
		},{
			description: 'Ống thoát nước giảm âm Wavin AS',
			imageUrl: 'image/slide/Thoat_nuoc_giảm_âm_Wavin_AS.png',
			pdfUrl:'pdf/WavinASProduct.pdf'
		}],
		'day_thiet_bi_dien': [{
			description: 'Dây, cáp điện',
			imageUrl: 'image/slide/day_cap_dien.jpg',
		},{
			description: 'Thiết bị điện Panasonic',
			imageUrl: 'image/slide/panasonic.jpg',
		},{
			description: 'Thiết bị điện Schneider',
			imageUrl: 'image/slide/schneider.jpg',
		}]
	}
	function clickSanpham(index){
		var productNames = productList[index];
		var htmlStr = "";
		var imageSlide = "";
		for (var i in productNames) {
			htmlStr += '<span id="" onclick="openImage(' + "'" + productNames[i].imageUrl+ "','" + productNames[i].pdfUrl + "')" + '"">' + productNames[i].description + '</span>'
			console.log(htmlStr)
			imageSlide += productNames[i].image;
		}
		$("#productDescription").html(htmlStr);
		
		clearCrrClass();
		$('#' + index).addClass('current');
	}

	function clearCrrClass(){
		for (var id in productList) {
			$('#' +  id).removeClass('current');
		} 
	}

	function openImage(image , pdf){
		console.log(image)
		$('#slide').stop();
		var htmlStr = "";
		if (pdf) {
			htmlStr = "<image style='width: 100%' onclick='window.open(" + '"' + pdf + '"' + ")' src='" + image + "'/>"
		} else {
			htmlStr = "<image style='width: 100%' src='" + image + "'/>"
		}
		$("#slides").html(htmlStr)
	}


</script>