<div class="blocksanphamtrangchu">
	<div class="row">
			<div class="col-xs-12 " >
				<div class="row" >
					<div class="sanphamava label-xanhlam  ">
						<p>
							<h5 class="text-center">
								Nhà phân phối ống nhưa
							</h5>
							<h4 class="text-center">
								PPR Wavin Ekoplastik
							</h4>
						</p>
					</div>
					<div class="sanphamava label-primary  ">
						<p>
							<h5 class="text-center">
								Nhà phân phối ống nhưa
							</h5>
							<h4 class="text-center">
								PPR Wavin Pilsa
							</h4>
						</p>
					</div>
					<div class="sanphamava label-xanhlam ">
						<p>
							<h5 class="text-center">
								Nhà phân phối ống thoát giảm âm
							</h5>
							<h4 class="text-center">
								Wavin AS
							</h4>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 sanphamava label-primary ">
						<p>
							<h5 class="text-center">
								Nhà phân phối 
							</h5>
							<h4 class="text-center">
								Van giảm áp RBM
							</h4>
						</p>
					</div>
					<div class="col-xs-4 sanphamava label-xanhlam ">
						<p>
							<h5 class="text-center">
								Sản xuất	
							</h5>
							<h4 class="text-center">
								Vật tư phụ
							</h4>
						</p>
					</div>
					<div class="col-xs-4 sanphamava  label-primary">
						<p>
							<h5 class="text-center">
								Thi công	
							</h5>
							<h4 class="text-center">
								Xây lắp cơ điện
							</h4>
						</p>
					</div>
				</div>
			</div>
	</div>
</div>