<div>
	<h1>Giới thiệu</h1>
	<p>Đươch thành lập năm 20.. Chúng tôi nhanh chóng trở thành công ty hàng đầu trong lĩnh vực xây dựng dân dụng</p>
	<p>Chúng tôi luôn khát khao mang đến những sản phẩm tốt nhất cho quý
		khách hàng</p>
	<p>
		<a class="btn btn-danger  btn-lg" role="button" href="/sanpham">Chi tiết</a>
	</p>
</div>