<div class="hoatdongcongty blockWrp">
	<p><strong>HOẠT ĐỘNG CÔNG TY</strong></p>
	<div class="imgWrp">
		<img style="width:100%" src='https://scontent-sin.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/q83/s720x720/10435680_10201772786441225_3011060178944006336_n.jpg?oh=a46cf11193caef40a96d20dc5bfe651a&oe=55A39280'
		/>
		<img style="width:100%" src='https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/p180x540/13774_838390232869279_2653207673558239000_n.jpg?oh=f2e9d635db7d0f9f34f7423c99ddc5ff&oe=55E1A183&__gda__=1436777480_c65126546382605665bf272a5170e461' />
		<img style="width:100%" src='https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p180x540/1622191_838390552869247_4525059165370951588_n.jpg?oh=6e9ed5ce103257c2b480b7f143bccc02&oe=55DE2BAE&__gda__=1440860864_2d49f96d3641440128d7f126feb03941' />
		<img style="width:100%" src='https://scontent-sin.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/s720x720/10437023_10201772140945088_8284509327586531759_n.jpg?oh=33381dcb12ec63504eb5d5f1cd208009&oe=55ACA617' />
		<img style="width:100%" src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/q83/p180x540/10649936_10201777729364795_469819228459165561_n.jpg?oh=de3f2ecb7475c106a2ef1912f3d6c1e4&oe=55ACB07A&__gda__=1436589935_1c5d413531cbead81a78d7d534595ac3' />
		<img style="width:100%" src='https://scontent-sin.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1503995_10201777729244792_5174961402187237890_n.jpg?oh=eb44372b3763cd4f9f32db0de2788aad&oe=55A0D500' />
		<img style="width:100%" src='https://scontent-sin.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/p180x540/1013648_838390332869269_7470829873961335950_n.jpg?oh=ea37946e0facf16bb80b8a057eb41394&oe=55A9AE94' />
		<img style="width:100%" src='https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/p180x540/10428002_838390662869236_3188033379479863808_n.jpg?oh=7a2e2c6384ba22a2d0deec86042e3b1a&oe=55AC4282&__gda__=1436340324_08c0adf6cde05ea39960fb9df87b15f4' />
		<img style="width:100%" src='' />
		<img style="width:100%" src='' />
		<img style="width:100%" src='' />
		<img style="width:100%" src='' />
	</div>
</div>