<div class="hotrotructuyen blockWrp">
	<p><strong>HỖ TRỢ TRỰC TUYẾN</strong></p>
	<p>Hotline: <span class="label label-primary">0989 25 99 37</span></p>
	<p>Yahoo:&nbsp;&nbsp; <span class="label label-primary">
		<a href="ymsgr:sendim?tainguyendl@yahoo.com">tainguyendl@yahoo.com</a></span>
	</p>
	<p>Email:&nbsp;&nbsp;&nbsp;&nbsp; <span class="label label-primary">
		<a href="mailto:nguyenanhtaidl@gmail.com">nguyenanhtaidl@gmail.com</a></span></p>
</div>